<div class="card" *ngIf="ability">
    <div class="card-block text-xs-center">
        <h1>{{ability.name}} Ability</h1>
        <p class="m-b-0">{{description}}</p>
        <div class="m-t-1" *ngIf="ability.image">
            <img class="rimage" src="/assets/images/abilities/{{ability.image}}.jpg" title="{{ability.name}}" alt="{{ability.name}} ability">
        </div>
    </div>
</div>

<div class="card" *ngIf="ability && !buildsOnly">
    <div class="card-block text-xs-center">
        <h2 class="card-title card-title-prim">Characters with {{ability.name}} ability</h2>
    </div>
    <cmp-piece-table [pieces]="characters"></cmp-piece-table>
</div>

<div class="card" *ngIf="ability && !charactersOnly">
    <div class="card-block">
        <h2 class="card-title card-title-prim">Vehicles and gadgets with {{ability.name}} ability</h2>
    </div>
    <cmp-piece-table [pieces]="builds"></cmp-piece-table>
</div>

<div class="card" *ngIf="ability == undefined">
    <div class="card-block text-xs-center">
        <h1>Unknown Ability</h1>
        <p>Please have a look at the <a [routerLink]="['/abilities']">complete list of abilities</a>.</p>
    </div>
</div>

<div class="card text-xs-center red">
    <div class="card-block">
        <h2 class="card-title card-title-prim red">Team Builder</h2>
        <p>Use the Team Builder to put together a team with all the abilities you want.</p>
        <a class="btn btn-info" [routerLink]="['/team-builder']">Go to the team builder now</a>
    </div>
</div>

<share-section></share-section>
<nav-section></nav-section>
<comment-section></comment-section>
