<div class="card text-xs-center">
    <div class="card-block" *ngIf="abilities">
        <h2 class="card-title">Character Abilities and Vehicle &amp; Gadget Abilities</h2>
        <p>There are {{abilityCount}} abilities in total with {{comboCount}} important ability combos needed to unlock everything of the game. Most of the combos are character abilities used underwater.</p>
        <p>{{uniqueAbilitiesCount}} abilities are unique, there is only one character or build providing this power.<br>{{uniqueCombosCount}} ability combos are unique, there is only character providing this power.</p>
    </div>
    <div class="card-block">
        <a class="btn" [ngClass]="{'btn-primary': isAll, 'btn-secondary': !isAll}" [routerLink]="['/abilities']">All Abilities</a>
        <a class="btn" [ngClass]="{'btn-primary': isRare, 'btn-secondary': !isRare}" [routerLink]="['/rare-abilities']">Rare Abilities</a>
        <a class="btn" [ngClass]="{'btn-primary': isCombo, 'btn-secondary': !isCombo}" [routerLink]="['/combo-abilities']">Combo Abilities</a>
    </div>
</div>
<share-section></share-section>
<div class="card">
    <h2 id="all-abilities" class="card-title card-title-prim">{{listTitle}}</h2>
    <cmp-ability-table [abilities]="abilities.list"></cmp-ability-table>
</div>

<share-section></share-section>
<nav-section></nav-section>
<comment-section></comment-section>
