<div class="card" *ngIf="ability">
    <div class="card-block text-xs-center">
        <h1>{{ability.name}} Ability</h1>
        <p>{{description}}</p>
    </div>
    <div class="text-xs-center">
        <img *ngIf="ability.image && !ability.video" class="rimage" src="/assets/images/abilities/{{ability.image}}.jpg" title="{{ability.name}}" alt="{{ability.name}} ability">
        <video *ngIf="ability.video" class="rimage" loop="true" autoplay="true" poster="/assets/images/abilities/{{ability.image}}.jpg">
            <source src="/assets/images/abilities/{{ability.image}}.mp4" type="video/mp4">
        </video>
    </div>
</div>

<div class="card" *ngIf="ability && !buildsOnly">
    <h2 class="card-title card-title-prim">Characters with {{ability.name}} ability</h2>
    <cmp-piece-table [pieces]="characters"></cmp-piece-table>
</div>

<div class="card" *ngIf="ability && !charactersOnly">
    <h2 class="card-title card-title-prim">Vehicles and gadgets with {{ability.name}} ability</h2>
    <cmp-piece-table [pieces]="builds"></cmp-piece-table>
</div>

<div class="card text-xs-center" *ngIf="ability.actionClip">
    <div class="card-block">
        <h2 class="card-title">Watch {{ability.name}} in action</h2>
    </div>
    <cmp-youtube autoloop="true" [url]="ability.actionClip" ></cmp-youtube>
</div>
<div class="card" *ngIf="ability == undefined">
    <div class="card-block text-xs-center">
        <h1>Unknown Ability</h1>
        <p>Please have a look at the <a [routerLink]="['/abilities']">complete list of abilities</a>.</p>
    </div>
</div>

<cmp-ads></cmp-ads>

<div class="card text-xs-center red">
    <h2 class="card-title card-title-prim red">Team Builder</h2>
    <div class="card-block">
        <p>Use the Team Builder to put together a team with all the abilities you want.</p>
        <a class="btn btn-info" [routerLink]="['/team-builder']">Go to the team builder now</a>
    </div>
</div>

<share-section></share-section>
<nav-section></nav-section>
<comment-section></comment-section>
