<section *ngIf="character">
    <div class="card">
        <div class="card-block text-xs-center m-b-1">
            <div class="character-portrait m-x-auto">
                <img src="/assets/images/{{character.image}}.png">
            </div>
            <h2 class="card-title">{{character.name}}</h2>
            <p>{{description}}</p>
            <p *ngIf="workInProgress">{{workInProgress}}</p>
        </div>
        <cmp-pack-table [packs]="[pack]" class="delimiter"></cmp-pack-table>
    </div>
    <div class="card" *ngIf="mustHave">
        <div class="card-block text-xs-center">
            <h2 class="card-title">must-have for 100%</h2>
            <p class="m-b-0">{{character.name}} is a must-have character to unlock everything in Lego Dimensions.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <h2 class="card-title card-title-prim text-xs-center">{{character.name}}'s Abilities</h2>
        </div>
        <cmp-ability-table [abilities]="character.skills"></cmp-ability-table>
    </div>
</section>
