<section *ngIf="character">
    <div class="card">
        <div class="card-block text-xs-center">
            <div class="character-portrait m-x-auto">
                <img src="/assets/images/{{character.image}}.png">
            </div>
            <h2 class="card-title">{{character.name}}</h2>
        </div>
        <div class="card-block">
            <div class="m-x-auto" style="max-width: 400px" *ngIf="pack"><a [routerLink]="['/pack/' + pack.id]"><lego-pack [pack]="pack"></lego-pack></a></div>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <h2 class="card-title card-title-prim text-xs-center">{{character.name}}'s Abilities</h2>
        </div>
        <cmp-ability-table [abilities]="character.skills"></cmp-ability-table>
    </div>
</section>
