<div class="card text-xs-center">
    <div class="card-block">
        <h1>Lego Dimensions Builder</h1>
        <h6 class="card-subtitle">Your tool to decide which characters and vehicles to play with!</h6>
    </div>
    <img src="assets/images/dimensions-logo.png" class="m-l-1" />
    <div class="card-block">
        <div><a [routerLink]="['/all-waves-and-packs']">List of all Dimension packs</a></div>
        <div><a [routerLink]="['/characters']">List of all Dimension minifig characters</a></div>
        <div><a [routerLink]="['/abilities']">List of all character abilities</a></div>
    </div>
</div>

<div class="card text-xs-center">
    <div class="card-block">
        <h2 class="card-title">All about Year 2</h2>
        <div><a [routerLink]="['/all-year2-packs-and-characters']">All Packs and Characters of Year 2</a></div>
    </div>
</div>

<div class="card text-xs-center">
    <div class="card-block">
        <h2 class="card-title">Team Builder</h2>
        <p>
            Use the Team Builder to put together a team with all the abilities you want.
        </p>
        <a class="btn btn-primary" [routerLink]="['/team-builder']">Go to the team builder now</a>
    </div>
</div>

<div class="card text-xs-center">
    <div class="card-block">
        <h2 class="card-title">Characters with 6+ abilities</h2>
        <ul class="text-xs-left">
            <li *ngFor="let minifig of mostSkills">
                <b><a [routerLink]="['/character/' + minifig.id]">{{minifig.name}}</a></b>
                (<span *ngFor="let skill of minifig.skills; let isLast = last">{{skill.name}}{{isLast ? '' : ', '}}</span>)
            </li>
        </ul>
    </div>
</div>