<div class="card">
    <div class="card-block">
        <h1>Lego Dimensions Builder</h1>
        <h6 class="card-subtitle text-muted">Your tool to decide which characters and vehicles to play with!</h6>
    </div>
    <img src="assets/images/dimensions-logo.png" />
    <div class="card-block">
        <div><a [routerLink]="['/pack-list']">List of all Dimension packs</a></div>
        <div><a [routerLink]="['/minifig-list']">List of all Dimension minifig characters</a></div>
        <div><a [routerLink]="['/ability-list']">List of all character abilities</a></div>
    </div>
</div>

<div class="card">
    <div class="card-block">
        <h2>Wave 6 in September</h2>
        <p>September 27th 2016 in the US, 30th of September in the UK</p>
    </div>
</div>

<div class="card">
    <div class="card-block">
        <h2 class="card-title">Team Builder</h2>
        <p>
            Use the Team Builder to put together a team with all the abilities you want.
        </p>
        <a class="btn btn-primary" [routerLink]="['/team-builder']">Go to the team builder now</a>
    </div>
</div>

<div class="card">
    <div class="card-block">
        <h2>Characters with 6+ abilities</h2>
        <ul>
            <li *ngFor="let minifig of mostSkills">
                <b><a [routerLink]="['/minifig/' + minifig.id]">{{minifig.name}}</a></b>
                (<span *ngFor="let skill of minifig.skills; let isLast = last">{{skill.name}}{{isLast ? '' : ', '}}</span>)
            </li>
        </ul>
    </div>
</div>