<div class="card text-xs-center">
    <div class="card-block" *ngIf="levels">
        <h1 class="card-title">Level Abilities</h1>
        <p class="last-update">Last update: Dec 4, 2016</p>
        <h3>All abilities you need to complete a level</h3>
        <p>{{description}}</p>
        <p class="m-b-0">Click on 'Team for Story' to select a team with all the abilities needed for the story play of that level. Click on 'Team for 100%' to do the same for all abilities to unlock everything.</p>
    </div>
</div>

<share-section></share-section>

<div class="card" *ngFor="let collection of collections">
    <h2 [attr.class]="'card-title card-title-prim year' + collection.year">{{collection.name}}</h2>
    <cmp-level-table [levels]="collection.levels" [showFranchise]="!collection.sameFranchise || collection.levels.length === 1"></cmp-level-table>
</div>

<share-section></share-section>
<nav-section></nav-section>
<comment-section></comment-section>
