<div class="card text-xs-center">
    <div class="card-block" *ngIf="level">
        <h1>{{level.name}}<br><small>{{level.franchiseName}} level</small></h1>
        <p *ngIf="level.chapter != 0">This level is chapter {{level.chapter}} of the {{level.story}}.</p>
        <p *ngIf="level.desc">{{level.desc}}</p>
        <div class="m-b-1" *ngIf="level.image">
            <img class="rimage" src="/assets/images/levels/{{level.image}}.jpg" title="{{level.name}} - {{level.franchiseName}}" alt="{{level.name}} - {{level.franchiseName}}">
        </div>
        <p *ngIf="level.previous">The previous level is: <a [routerLink]="'/level/' + level.previous.url">{{level.previous.name}}</a></p>
        <p *ngIf="level.next">The next level is: <a [routerLink]="'/level/' + level.next.url">{{level.next.name}}</a></p>
    </div>
    <div class="card-block" *ngIf="levelAccess">
        <h2 class="card-title card-title-prim light" *ngIf="!characterWithAccess">You need a character with {{levelAccess}} access to enter this level.</h2>
        <h2 class="card-title card-title-prim light" *ngIf="characterWithAccess">You need {{characterWithAccess.name}} to enter this level.</h2>
    </div>
    <cmp-piece-table [pieces]="charactersWithAccess" *ngIf="levelAccess"></cmp-piece-table>
</div>

<div class="card text-xs-center red" *ngIf="level.builderFinish || level.builderComplete">
    <div class="card-block m-b-negative">
        <h2 class="card-title card-title-prim red">Choose a team for this level</h2>
        <p>Use the Team Builder to put together a team with all the characters you need to play or complete this level.</p>
        <a class="btn btn-info m-b-1" [routerLink]="['/team-builder', level.builderFinish]">Team for Play</a>
        <a class="btn btn-info m-b-1" [routerLink]="['/team-builder', level.builderComplete]" *ngIf="level.builderComplete">Team for 100%</a>
    </div>
</div>

<div class="card" *ngIf="storyAbilities.list.length > 0">
    <div class="card-block text-xs-center m-b-1">
        <h2 class="card-title card-title-prim">Abilities needed to finish the story:</h2>
        <p>You need the following abilities to play through the complete level.</p>
    </div>
    <cmp-ability-table [abilities]="storyAbilities.list" class="delimiter"></cmp-ability-table>
    <div class="card-block text-xs-center" *ngIf="level.storyVideo">
        <h2 class="card-title">Story Walkthrough</h2>
        <cmp-youtube [url]="level.storyVideo"></cmp-youtube>
    </div>
</div>
<div class="card" *ngIf="allAbilities.list.length > 0">
    <div class="card-block text-xs-center m-b-1">
        <h2 class="card-title card-title-prim">Abilities needed to complete 100%:</h2>
        <p>You need the following abilities in addition to the story abilities to collect all minikits and rescue the citizen in peril.</p>
    </div>
    <cmp-ability-table [abilities]="allAbilities.list" class="delimiter"></cmp-ability-table>
</div>
<div class="card" *ngIf="extraAbilities.list.length > 0">
    <div class="card-block text-xs-center m-b-1">
        <h2 class="card-title card-title-prim">Additional abilities:</h2>
        <p>You can collect some more extra coins if you have the following abilities, but they are not needed to collect 100%.</p>
    </div>
    <cmp-ability-table [abilities]="extraAbilities.list" class="delimiter"></cmp-ability-table>
</div>

<share-section></share-section>
<nav-section></nav-section>
<comment-section></comment-section>
