<div class="card">
    <div class="card-block" *ngIf="level">
        <h1>{{level.name}}</h1>
        <p *ngIf="level.chapter != 0">This level is chapter {{level.chapter}} of the {{level.story}}.</p>
        <p *ngIf="level.previous">The previous level is: <a [routerLink]="'/level/' + level.previous.url">{{level.previous.name}}</a></p>
        <p *ngIf="level.next">The next level is: <a [routerLink]="'/level/' + level.next.url">{{level.next.name}}</a></p>

        <p>Need help finding all bricks? Walkthrough on IGN for <a [href]="level.walkthrough">{{level.name}}</a>.</p>

        <h5>Abilities required to finish the level:</h5>
        <ul>
            <li *ngFor="let ability of storyAbilities.list">{{ability.name}}</li>
        </ul>
        <h5>Abilities required to collect all minikits:</h5>
        <ul>
            <li *ngFor="let ability of minikitAbilities.list">{{ability.name}}</li>
        </ul>
        <h5>Abilities required to rescue citizens in peril:</h5>
        <ul>
            <li *ngFor="let ability of rescueAbilities.list">{{ability.name}}</li>
        </ul>
        <h5>Remaining abilities required to 100% complete the level:</h5>
        <ul>
            <li *ngFor="let ability of extraAbilities.list">{{ability.name}}</li>
        </ul>
    </div>
</div>
