<h1>Complete list of all Lego Dimensions character minifigs.</h1>
<section *ngIf="minifigs">
    <div class="card">
        <div class="card-block">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let minifig of minifigs">
                            <td><minifig-head [minifig]="minifig"></minifig-head></td>
                            <td><a [routerLink]="['/character/' + minifig.id]">{{minifig.name}}</a></td>
                            <td>
                                <span *ngFor="let skill of minifig.skills">{{skill.name}}, </span>
                            </td>
                            <td>from Lego set <a [routerLink]="['/pack/' + minifig.packId]">{{minifig.packId}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>