<section *ngIf="minifig">
    <div class="card">
        <div class="card-block text-xs-center">
            <div class="character-portrait m-x-auto">
                <img src="/assets/images/{{minifig.image}}.png">
            </div>
            <h2 class="card-title">{{minifig.name}}</h2>
        </div>
        <div class="card-block">
            <div class="m-x-auto" style="max-width: 400px" *ngIf="pack"><a [routerLink]="['/pack/' + pack.id]"><lego-pack [pack]="pack"></lego-pack></a></div>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <h2 class="card-title text-xs-center">Abilities</h2>
            <ul>
                <li *ngFor="let skill of minifig.skills"><b>{{skill.name}}</b>: {{minifig.name}} can {{skill.desc}}.</li>
            </ul>
        </div>
    </div>
</section>
