<div class="card text-xs-center">
    <div class="card-block">
        <h2 class="card-title">{{pack.name}} {{type}}</h2>
        <h6 class="card-subtitle">{{pack.id}}</h6>
    </div>
    <div class="card-block">
        <div class="m-b-1">
            <img class="pack-img" src="assets/images/{{pack.image}}.jpg">
        </div>
        <p class="m-b-0">{{pack.desc}}</p>
    </div>
</div>
<div class="card" *ngIf="mustHave">
    <div class="card-block text-xs-center">
        <h2 class="card-title">must-have for 100%</h2>
        <p class="m-b-0">This {{type}} is a must-have to unlock everything in Lego Dimensions.</p>
    </div>
</div>
<div class="card">
    <div class="card-block">
        <h2 class="card-title card-title-prim">Characters included in this {{type}}</h2>
        <div *ngIf="characters">
            <div *ngFor="let char of characters"><a [routerLink]="['/character/' + char.id]"><minifig-panel [piece]="char"></minifig-panel></a></div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-block">
        <h2 class="card-title card-title-prim">Abilities included in this {{type}}</h2>
    </div>
    <cmp-ability-table [abilities]="skills"></cmp-ability-table>
</div>