<div class="card">
    <div class="card-block text-xs-center">
        <h1 class="card-title">{{pack.name}} {{type}}</h1>
        <h6 class="card-subtitle">{{pack.id}}</h6>
    </div>
    <div class="card-block text-xs-center">
        <div class="m-b-1">
            <img class="pack-img" src="assets/images/{{pack.image}}.jpg">
        </div>
        <p class="m-b-0">{{pack.desc}} {{description}}</p>
    </div>
    <h2 class="card-title card-title-prim light" *ngIf="pack.access.length > 0">Comes with Access to Levels</h2>
    <cmp-level-table [levels]="pack.access" *ngIf="pack.access.length > 0"></cmp-level-table>
</div>
<div class="card" *ngIf="mustHave">
    <div class="card-block text-xs-center">
        <h2 class="card-title">must-have for 100%</h2>
        <p>This {{type}} is a must-have to unlock everything in Lego Dimensions.</p>
        <p class="m-b-0">You get {{mustHaveText}} only with this pack.</p>
    </div>
</div>
<div class="card">
    <h2 class="card-title card-title-prim">Characters and builds included in this {{type}}</h2>
    <cmp-piece-table [pieces]="pieces.list"></cmp-piece-table>
</div>

<div class="card text-xs-center" *ngIf="pack.video">
    <cmp-youtube [url]="pack.video" ></cmp-youtube>
</div>

<div class="card text-xs-center" *ngIf="pack.amazon">
    <div class="card-block">
        <a class="btn btn-primary" target="_blank" [attr.href]="pack.amazon">Open at amazon.com</a>
    </div>
</div>
<div class="card">
    <h2 class="card-title card-title-prim">Character Abilities included in this {{type}}</h2>
    <cmp-ability-table [abilities]="skills.list"></cmp-ability-table>
</div>
<div class="card">
    <h2 class="card-title card-title-prim">Build Abilities included in this {{type}}</h2>
    <cmp-ability-table [abilities]="buildAbilities.list"></cmp-ability-table>
</div>

<share-section></share-section>
<nav-section></nav-section>
<comment-section></comment-section>
