<div class="card text-xs-center">
    <div class="card-block">
        <h2>Complete list of all Lego Dimensions packs</h2>
        <p class="last-update">Last update: Sep 17, 2017</p>
        <p class="m-b-0">{{description}}</p>
        <p>The 'must-buy' label marks packs that are required to unlock 100% in Lego Dimensions.</p>
    </div>
</div>
<share-section></share-section>
<div class="card" *ngFor="let wave of waves">
    <h2 [attr.class]="'card-title card-title-prim year' + wave.year">Wave {{wave.number}} - Year {{wave.year}} ({{wave.release}})</h2>
    <cmp-pack-table [packs]="wave.packs" class="delimiter-b"></cmp-pack-table>
    <div class="card-block text-xs-center">
        <a class="btn btn-secondary" [routerLink]="'/wave/' + wave.number">Show all Characters and Abilities of Wave {{wave.number}}</a>
    </div>
</div>

<share-section></share-section>
<nav-section></nav-section>
<comment-section></comment-section>
