<div class="card text-xs-center">
    <div class="card-block">
        <h2>Wave {{wave.number}} - Year {{wave.year}} ({{wave.release}})</h2>
        <p class="m-b-0">{{description}}</p>
    </div>
    <div class="card-block" *ngIf="wave.image">
        <div class="m-x-auto">
            <img class="wave-img" src="/assets/images/{{wave.image}}.jpg">
        </div>
    </div>
    <div class="card-block">
        <a class="btn btn-secondary" [routerLink]="'/all-waves-and-packs'">All Waves and Dimensions Packs</a>
    </div>
</div>
<div class="card">
    <div class="card-block">
        <h2 [attr.class]="'card-title card-title-prim year' + wave.year">All packs in wave {{wave.number}}</h2>
    </div>
    <cmp-pack-table [packs]="wave.packs"></cmp-pack-table>
</div>
<div class="card">
    <div class="card-block">
        <h2 class="card-title card-title-prim">Characters included in wave {{wave.number}}</h2>
    </div>
    <cmp-piece-table [pieces]="characters"></cmp-piece-table>
</div>
