<div class="card text-xs-center">
    <div class="card-block">
        <h2>Wave {{wave.number}} - Year {{wave.year}} ({{wave.release}})</h2>
        <p class="m-b-0">{{description}}</p>
        <div class="m-x-auto m-t-1" *ngIf="wave.image">
            <img class="rimage" src="/assets/images/{{wave.image}}.jpg">
        </div>
    </div>
    <div class="card-block">
        <a class="btn btn-secondary" [routerLink]="'/all-waves-and-packs'">All Waves and Dimensions Packs</a>
    </div>
</div>

<div class="card">
    <h2 [attr.class]="'card-title card-title-prim year' + wave.year">All packs in wave {{wave.number}}</h2>
    <div class="card-block">
        <p>Completionist: All packs labeled as 'must-buy' are needed to complete the game.</p>
        <p>Best-value: {{wave.buyersGuide}}</p>
    </div>
    <cmp-pack-table class="delimiter" [packs]="wave.packs" amazon='true'></cmp-pack-table>
</div>

<div class="card text-xs-center" *ngIf="wave.video">
    <cmp-youtube [url]="wave.video" ></cmp-youtube>
</div>

<div class="card">
    <h2 class="card-title card-title-prim">Characters included in wave {{wave.number}}</h2>
    <cmp-piece-table [pieces]="characters"></cmp-piece-table>
</div>

<div class="card">
    <h2 class="card-title card-title-prim">Builds included in wave {{wave.number}}</h2>
    <cmp-piece-table [pieces]="builds"></cmp-piece-table>
    <div *ngIf="builds.length === 0" class="card-block text-xs-center">
        <p class="m-b-0">Data to be added.</p>
    </div>
</div>

<share-section></share-section>
<nav-section></nav-section>
<comment-section></comment-section>
