<section *ngIf="skills">
    <div class="card">
        <div class="card-block">
            <h2 class="card-title">Team Builder <small>beta</small></h2>
            <p>At the moment this is a proof-of-concept. Be aware some of the character stats may be incorrect.</p>
            <p>Select characters is order of the rarest abilities.
                The ability preset given here contains all abilities the characters Batman, Gandalf and Wildstyle from the Starter Pack have.</p>
            <ability-select (changed)="onAbilitiesChanged($event)"></ability-select>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <h2 class="card-title">Your Team</h2>
            <p>Click on a minifig to remove it from your team.</p>
            <div *ngIf="team">
                <minifig-panel class="pull-md-left" *ngFor="let minifig of team.get()" (click)="removeMember(minifig)" [piece]="minifig">{{minifig.name}}</minifig-panel>
                <div class="clearfix"></div>
                <div>Extra skills:
                    <span *ngFor="let skill of teamSkills; let isLast = last">{{skill.name}}{{isLast ? '' : ', '}}</span>
                </div>
            </div>
        </div>
    </div>
    <section *ngIf="(currentSkillIndex < skills.length)">
        <div class="card">
            <div class="card-block">
                <h2 class="card-title">Select a character for {{skills[currentSkillIndex].name}}</h2>
                <p>Click on a minifig to add it to your team.</p>
                <div *ngIf="proposedMinifigs">
                    <minifig-panel class="pull-md-left" *ngFor="let minifig of proposedMinifigs.get()" (click)="addMember(minifig)" [piece]="minifig">{{minifig.name}}</minifig-panel>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
</section>