
<div *ngFor="let skills of skillLists; let i = index;">
    <div class="input-group">
        <span class="input-group-btn" data-toggle="buttons">
            <label class="btn btn-primary">
            <input type="radio" name="options" id="option1" autocomplete="off">all
            </label>
            <label class="btn btn-primary active">
            <input type="radio" name="options" id="option2" autocomplete="off" checked>some
            </label>
            <label class="btn btn-primary">
            <input type="radio" name="options" id="option3" autocomplete="off">none
            </label>
        </span>
        <!--<input type="text" class="form-control" placeholder="Product name">-->
        <label class="title">{{skills.name}}</label>
        <span class="input-group-btn">
            <button class="btn btn-secondary" data-toggle="collapse" [attr.data-target]="'#abilityCollapse' + i">select</button>
        </span>
        </div>
    <div class="collapse" [attr.id]="'abilityCollapse' + i">
        <div class="btn-group-vertical" role="group">
            <label class="form-check-label" *ngFor="let skill of skills.list">
                <input class="form-check-input" type="checkbox" value="" [ngModel]="skill.checked" (ngModelChange)="skill.checked=$event;onChanged()">
                {{skill.name}}{{skill.fullfilled ? ' (ok)' : ''}}
            </label>
        </div>
    </div>
</div>
