
<div class="card text-xs-center" *ngIf="!isServer">
    <style type="text/css">
        .adslot_1 { width: 320px; height: 100px; margin: 0 auto; }
        @media (min-width:500px) { .adslot_1 { width: 468px; height: 60px; } }
        @media (min-width:800px) { .adslot_1 { width: 728px; height: 90px; } }
    </style>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- dimensionsbuilder -->
    <ins class="adsbygoogle adslot_1"
        style="display:block"
        data-ad-client="ca-pub-3920545471711155"
        data-ad-slot="8392583822"></ins>
</div>