.panel-title {
    font-weight: bold;
    font-size: 1.5rem;
}
.panel {
    width: 100%;
    background: white;
    /*border: 1px solid slategray;*/
    box-sizing: border-box;
    cursor: pointer;
}
.panel:hover {
    background: slategray;
}
.panel > img 
{ 
    width: 48px;
    height: 63px;
    float: left;
}
.panel > div {
    margin-left: 70px;
    height: 63px;
}