<div class="card text-xs-center">
    <div class="card-block">
        <h2 class="card-title">Navigation</h2>
        <p class="m-b-0 m-t-1">
            <a class="btn btn-secondary m-b-1" [routerLink]="['/']" title="Lego Dimensions Builder">Home</a>
            <a class="btn btn-secondary m-b-1" [routerLink]="['/team-builder']" title="Create your Dimensions Team">Team Builder</a>
            <a class="btn btn-secondary m-b-1" [routerLink]="['/all-waves-and-packs']" title="List of all waves and packs">Packs</a>
            <a class="btn btn-secondary m-b-1" [routerLink]="['/characters']" title="List of all playable characters">Characters</a>
            <a class="btn btn-secondary m-b-1" [routerLink]="['/abilities']" title="List of all character abilities and build abilities">Abilities</a>
            <a class="btn btn-secondary m-b-1" [routerLink]="['/levels']" title="List of all levels, worlds and arenas">Levels</a>
        </p>
    </div>
</div>
