.panel-text {
    margin-left: 114px;
    height: 63px;
    padding: 5px 0;
    overflow: hidden;
    box-sizing: border-box;
}
.panel-title {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 28px;
    word-wrap: nowrap;
}
.panel-desc {
    font-size: 1rem;
    line-height: 25px;
    word-wrap: nowrap;
}
.panel {
    width: 100%;
    background: white;
    /*border: 1px solid slategray;*/
    box-sizing: border-box;
    cursor: pointer;
}
.panel:hover {
    background: slategray;
}
.panel > img 
{ 
    width: 106px;
    height: 63px;
    float: left;
}

.box-type-0 {
    background-color: #015095;
    color: white;
}
.box-type-2 {
    background-color: #fee600;
}
.box-type-3 {
    background-color: #ff6e01;
}
.box-type-4 {
    background-color: #01be00;
}