<div class="card text-xs-center" style="background: inherit" *ngIf="url">
<!--    <div class="card-block text-xs-center">
        <h2 class="card-title">Do you like this site?</h2>
        <p>Please help me spread the word and share it to your friends.</p>-->
        <cmp-btn title="visit on Facebook" type='facebook' url='https://www.facebook.com/dimensionsbuilder'></cmp-btn>
        <cmp-btn title="visit on Youtube" type='youtube' url='https://www.youtube.com/channel/UCnCV6iZTwMrq0yDNxNS-o6g'></cmp-btn>
        <cmp-btn title="share on Facebook" type='facebook' [url]="'http://www.facebook.com/sharer/sharer.php?u=' + url"></cmp-btn>
        <cmp-tweet title="share on Twitter" [url]="'https://twitter.com/home?status=%23LegoDimensions%20' + url + '%20'"></cmp-tweet>
<!--    </div>-->
</div>
