<top-nav></top-nav>
<section class="container">	
    <router-outlet></router-outlet>
</section>
<footer class="container text-xs-center">
    <div class="p-t-1 p-b-1">
        <p style="color: #7F88A6">Lego Dimensions and related characters are Registered Trademark and Copyright of the LEGO Group. All rights reserved.<br>
        dimensions-builder.com is not affiliated, associated, authorized, endorsed by, or in any way officially connected with Lego Dimensions or the LEGO Group.</p>
    </div>
</footer>