<top-nav></top-nav>

<section class="container">	
    <div class="card" style="background: inherit">
        <div class="btn-group highlight-btn">
            <a class="btn btn-primary" [routerLink]="['/buyers-guide-year-2']" title="Buyer's Guide for Lego Dimensions Year 2">Year 1+2 Buyer's Guide</a>
        </div>
        <div class="btn-group highlight-btn">
            <a class="btn btn-primary" [attr.href]="'https://gleam.io/fb/QU44w'" title="Lego Dimensions Team Pack Giveaway">Team Pack Giveaway</a>
        </div>
        <div class="clearfix"></div>
    </div>

    <router-outlet></router-outlet>
</section>
<footer class="container text-xs-center">
    <div class="p-t-1 p-b-1">
        <p style="color: #7F88A6">Lego Dimensions and related characters are Registered Trademark and Copyright of the LEGO Group. All rights reserved.<br>
        dimensions-builder.com is not affiliated, associated, authorized, endorsed by, or in any way officially connected with Lego Dimensions or the LEGO Group.</p>
        <p style="color: #7F88A6">Dimensions Builder is using Amazon affiliate links.</p>
    </div>
</footer>