<top-nav></top-nav>

<section class="container">	
    <!--<div class="card" style="background: inherit">
        <div class="btn-group highlight-btn">
            <a class="btn btn-primary" [routerLink]="['/buyers-guide-year-2']" title="Buyer's Guide for Lego Dimensions Year 2">Year 1+2 Buyer's Guide</a>
        </div>
        <div class="btn-group highlight-btn">
            <a class="btn btn-primary" [routerLink]="['/wave/7']" title="See contents of Lego Dimensions Wave 7">Wave 7 is out!</a>
        </div>
        <div class="clearfix"></div>
    </div>-->

    <router-outlet></router-outlet>
</section>
