table {
    padding: 0 1.5rem;
    margin-top: -2rem;
    width: 100%;
    box-sizing: border-box;
}
td {
    padding: 0.75rem;
}
td.title span:first-child {
  font-family: 'Bebas Neue Bold',Arial,sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 1.5rem;
}
td.providers {
    width: 50%;
}
td:last-child {
    text-align: right;
}
tr {
    border-bottom: 1px solid #16203B;
}
tr:last-child {
    border-bottom: none;
}
@media (max-width: 767px) {
    td.providers {
        display: none;
    }
}
/*@media (max-width: 543px) {
    tr {
        padding: 0;
    }
    td {
        padding: 0;
    }
    td.title {
        line-height: 1.5rem;
    }
    .btn-secondary {
        margin: 0;
        padding: 0;
        border-radius: 0;
        display: inline-block;
        height: 100%;
        border: none;
    }
}*/