<table *ngIf="levels" class="level-table">
    <tr *ngFor="let level of levels">
        <!--<td class="level-icon hidden-md-down"><img *ngIf="level.icon" src="/assets/images/levels/{{level.url}}.png" alt="{{level.name}}"></td>-->
        <td class="title">
            <span class="title-span" *ngIf="showFranchise && level.franchiseName != level.name.substring(0, level.franchiseName.length)">
                <span class="avoidwrap">{{level.franchiseName}}</span> - 
                <span class="avoidwrap">{{level.name}}</span>
            </span>
            <span class="title-span" *ngIf="!showFranchise || level.franchiseName == level.name.substring(0, level.franchiseName.length)">
                <span *ngIf="level.chapter != 0">{{level.chapter}} -</span>
                <span>{{level.name}}</span>
            </span>
            <div class="hidden-lg-up btn-group">
                <a class="btn btn-secondary" [title]="'more about ' + level.name" [routerLink]="['/level/' + level.url]" >Details</a>
                <a *ngIf="level.builderComplete" class="btn btn-secondary" [title]="'select characters for ' + level.name" [routerLink]="['/team-builder', level.builderComplete]" ><span class="hidden-xs-down">Team for </span>100%</a>
                <a *ngIf="level.builderFinish" class="btn btn-secondary" [title]="'select characters for ' + level.name" [routerLink]="['/team-builder', level.builderFinish]" ><span class="hidden-xs-down">Team for </span>Story</a>
            </div>
        </td>
        <td class="second-button hidden-md-down"><a *ngIf="level.builderFinish" class="btn btn-secondary" [title]="'select characters for ' + level.name" [routerLink]="['/team-builder', level.builderFinish]" >Team for Story</a></td>
        <td class="second-button hidden-md-down"><a *ngIf="level.builderComplete" class="btn btn-secondary" [title]="'select characters for ' + level.name" [routerLink]="['/team-builder', level.builderComplete]" >Team for 100%</a></td>
        <td class="hidden-md-down"><a *ngIf="level.builderFinish || level.builderComplete" class="btn btn-secondary" [title]="'more about ' + level.name" [routerLink]="['/level/' + level.url]" >Details</a></td>
    </tr>
</table>
