<table *ngIf="levels">
    <tr *ngFor="let level of levels">
        <td class="title"><span *ngIf="level.chapter != 0">Chapter {{level.chapter}}</span> <span class="title-span">{{level.name}}</span></td>
        <td class="second-button"><a *ngIf="level.builderFinish" class="btn btn-info" [title]="'select characters for ' + level.name" [routerLink]="['/team-builder', level.builderFinish]" >Team for Play</a></td>
        <td class="second-button"><a *ngIf="level.builderComplete" class="btn btn-info" [title]="'select characters for ' + level.name" [routerLink]="['/team-builder', level.builderComplete]" >Team for 100%</a></td>
        <td><a class="btn btn-secondary" [title]="'more about ' + level.name" [routerLink]="['/level/' + level.url]" >Details</a></td>
    </tr>
</table>
