<div class="container-fluid" *ngIf="packs">
    <div class="row" *ngFor="let pack of packs; let i = index">
        <div class="col-xs-4 col-sm-3 col-lg-2 icon"><img src="/assets/images/63/{{pack.image}}.jpg" alt="{{pack.name}}"></div>
        <div class="col-xs-8 col-sm-6 col-lg-8 title"><span class="title-span">{{pack.name}}</span> <span class="avoidwrap"><span [attr.class]="'badge text-pack-' + pack.type">{{typeStrings[pack.type]}}</span> <span *ngIf="pack.mustHave || pack.exclusiveAccess" class="badge">must-buy</span></span></div>
        <div class="col-xs-12 col-sm-3 col-lg-2 text-xs-right"><a class="btn btn-secondary" [title]="'more about ' + pack.name" [routerLink]="['/pack/' + pack.id]" >details</a></div>
        <div class="col-xs-12" *ngIf="comments && comments[i] !== ''">{{comments[i]}}</div>
    </div>
</div>
