<table *ngIf="pieces">
    <tr *ngFor="let piece of pieces">
        <td class="piece-icon">
            <img src="/assets/images/63/{{piece.image}}.png" alt="{{piece.name}}">
            <span *ngIf="piece.state==1" class="icon-banner">new</span>
            <span *ngIf="piece.state==2" class="icon-banner incomplete">beta</span>
        </td>
        <td class="title"><span class="title-span">{{piece.name}}</span> <span class="badge">{{piece.extra}}</span> <span *ngIf="piece.isYear2" class="badge badge-year2">year 2</span></td>
        <td class="providers">
            <div *ngIf="piece.skills.length > 0"><span *ngFor="let ability of piece.skills | limitFilter; let isLast = last">{{ability}}{{isLast ? '' : ', '}}</span></div>
        </td>
        <td><a *ngIf="piece.type===0" class="btn btn-secondary" [title]="'more about ' + piece.name" [routerLink]="['/character/' + (piece.url ? piece.url : piece.id)]" >details</a></td>
    </tr>
</table>
