table {
    padding: 0 1.5rem;
    margin-top: -2rem;
    width: 100%;
    box-sizing: border-box;
}
td {
    padding: 0.75rem;
}
td.icon {
    width: 32px;
}
td.piece-icon {
    width: 32px;
}
td.piece-icon img {
    width: 46px;
    height: 61px;
}
td.icon img {
    height: 61px;
    margin: -0.75rem 0;
}
td.title span.title-span {
  font-family: 'Bebas Neue Bold',Arial,sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 1.5rem;
}
td.providers {
    width: 50%;
    padding: 0.25rem 0.75rem;
}
td.second-button {
    text-align: right;
    width: 48px;
}
td:last-child {
    text-align: right;
    width: 48px;
}
tr {
    border-bottom: 1px solid #16203B;
}
tr:last-child {
    border-bottom: none;
}
@media (max-width: 767px) {
    td.providers {
        display: none;
    }
}
.text-pack-0 {
  background: #1A4E95;
}
.text-pack-1 {
  background: #621A95;
}
.text-pack-2 {
  background: #EDB742;
}
.text-pack-3 {
  background: #CC6632;
}
.text-pack-4 {
  background: #1A9561;
}
.btn-group .btn+.btn {
    margin-left: 0;
    margin-right: 1px !important;
}
.btn-group .btn {
  border-radius: 0;
  float: right;
}
.btn-group {
    /*display: block;*/
    width: 100%;
    width: calc(100% + 1.5rem);
    margin: .5rem -.75rem -.75rem -.75rem;
}
.btn-group .btn {
    width: 32%;
    width: calc(33.3% - 1px);
}
.btn-group .btn:first-child {
    width: 33.4%;
}