table {
    padding: 0 1.5rem;
    width: 100%;
    box-sizing: border-box;
}
.level-table td {
    padding: 0.5rem 0.25rem;
}
td {
    padding: 0.75rem;
}
.level-table td:first-child {
    padding-left: 0.75rem;
}
.level-table td:last-child {
    padding-right: 0.5rem;
}
td:first-child {
    padding-left: 0.75rem;
}
td:last-child {
    padding-right: 0.75rem;
}
td.icon {
    width: 133px;
}
td.piece-icon {
    width: 32px;
    position: relative;
}
td.level-icon {
    width: 49px;
    position: relative;
}
td.piece-icon img {
    width: 46px;
    height: 61px;
    margin: -0.75rem 0;
}
.icon img {
    height: 61px;
    margin: -0.75rem 0;
}
td.level-icon img {
    width: 49px;
    height: 49px;
    margin: -0.75rem 0;
}
.title span.title-span {
  font-family: 'Bebas Neue Bold',Arial,sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 1.5rem;
}
td.providers {
    width: 50%;
    padding: 0.25rem 0.75rem;
}
td.second-button {
    text-align: right;
    width: 48px;
}
td:last-child {
    text-align: right;
    width: 48px;
}
tr {
    border-bottom: 1px solid #16203B;
}
tr:last-child {
    border-bottom: none;
}
@media (max-width: 767px) {
    td.providers {
        display: none;
    }
}
.text-pack-0 {
  background: #1A4E95;
}
.text-pack-1 {
  background: #621A95;
}
.text-pack-2 {
  background: #EDB742;
}
.text-pack-3 {
  background: #CC6632;
}
.text-pack-4 {
  background: #1A9561;
}
.btn-group .btn+.btn {
    margin-left: 0;
    margin-right: 1px !important;
}
.btn-group .btn {
  border-radius: 0;
  float: right;
}
.btn-group {
    /*display: block;*/
    width: 100%;
    width: calc(100% + 1.5rem);
    margin: .5rem -.75rem -.75rem -.75rem;
}
.btn-group .btn {
    width: 32%;
    width: calc(33.3% - 1px);
}
.btn-group .btn:first-child {
    width: 33.4%;
}

.badge-year2 {
    background-color: #EDB742;
}

.badge-gray {
    background-color: #475072;
}
.icon-banner {
    position: absolute;
    display: block;
    background: #621A95;
    color: #fff;
    bottom: 0px;
    left: 12px;
    width: 46px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-family: 'Bebas Neue Bold',Arial,sans-serif;
    font-weight: 600;
    font-size: 1rem;
}
.icon-banner.incomplete {
    background: #475072;
}

div.title {
    line-height: 1rem;
    margin-top: 0.5rem;
}
div.row+div.row {
    border-top: 1px solid #16203B;
}
div.row>div {
    padding: 0.75rem;
}