table {
    padding: 0 1.5rem;
    margin-top: -2rem;
    width: 100%;
    box-sizing: border-box;
}
td {
    padding: 0.75rem;
}
td.icon {
    width: 32px;
}
td.icon img {
    height: 61px;
    margin: -0.75rem 0;
}
td.title span:first-child {
  font-family: 'Bebas Neue Bold',Arial,sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 1.5rem;
}
td.providers {
    width: 50%;
    padding: 0.25rem 0.75rem;
}
td.second-button {
    text-align: right;
    width: 48px;
}
td:last-child {
    text-align: right;
    width: 48px;
}
tr {
    border-bottom: 1px solid #16203B;
}
tr:last-child {
    border-bottom: none;
}
@media (max-width: 767px) {
    td.providers {
        display: none;
    }
}
.text-pack-0 {
  background: #1A4E95;
}
.text-pack-1 {
  background: #621A95;
}
.text-pack-2 {
  background: #EDB742;
}
.text-pack-3 {
  background: #CC6632;
}
.text-pack-4 {
  background: #1A9561;
}
