<div class="card">
    <div class="card-block">
        <h1 class="card-title text-xs-center">{{title}}</h1>

        <p>This list is subject to change with new releases. If you want to get 100% out of Lego Dimensions the Story Packs and Level Packs are an obvious choice.
        Team and Fun Packs either have some unique abilities or the only access to Adventure Worlds.</p>
        <p>If you do not care about 100%, then have a look at the descriptions for some advise or click on details to see all the abilities you get with that pack.</p>
        <p>There are Amazon links in the list as well for easy access. If you want to support this site, please use them to buy future packs. Or if you don't that is cool as well.</p>
    </div>

    <h2 class="card-title card-title-prim">All Packs you need for 100%</h2>
    <h2 class="card-title card-title-prim light">Story Packs</h2>
    <cmp-pack-table [packs]='storyPacks' [comments]='storyComments'></cmp-pack-table>

    <h2 class="card-title card-title-prim light">Level Packs</h2>
    <cmp-pack-table [packs]='levelPacks' [comments]='levelComments'></cmp-pack-table>

    <h2 class="card-title card-title-prim light">Team Packs</h2>
    <cmp-pack-table [packs]='teamPacks' [comments]='teamComments'></cmp-pack-table>

    <h2 class="card-title card-title-prim light">Fun Packs</h2>
    <div class="card-block">
        <p>Some of the Fun Packs give you another Adventure World, others only one ability. Most of the added abilities have much less gameplay than another Adventure World. So if you consider which to buy, then go for an Adventure World of your liking.</p>
    </div>
    <cmp-pack-table [packs]='funPacks' [comments]='funComments' class="delimiter"></cmp-pack-table>
</div>

<share-section></share-section>
<nav-section></nav-section>
<comment-section></comment-section>
