<div class="card">
    <div class="card-block">
        <h1 class="card-title text-xs-center">{{title}}</h1>

        <p>This list is subject to change with new releases. If you want to get 100% out of Lego Dimensions the Story Packs and Level Packs are an obvious choice.
        </p>
    </div>

    <h2 class="card-title card-title-prim">All Packs you need for 100%</h2>
    <h2 class="card-title card-title-prim light">Story Packs</h2>
    <ul>
        <li>Story Pack: Lego Batman Movie - Wave 7.5</li>
        <li>Story Pack: Fantastical Beasts - Wave 7</li>
        <li>Story Pack: Ghostbusters 2016 - Wave 6</li>
    </ul>

    <h2 class="card-title card-title-prim light">Level Packs</h2>
    <ul>
        <li>Level Pack: Adventure Time</li>
        <li>Level Pack: Back to the Future</li>
        <li>Level Pack: Doctor Who</li>
        <li>Level Pack: Ghostbusters</li>
        <li>Level Pack: Midway Arcade</li>
        <li>Level Pack: Mission Impossible</li>
        <li>Level Pack: Portal 2</li>
        <li>Level Pack: The Goonies</li>
        <li>Level Pack: The Simpsons</li>
        <li>Level Pack: Sonic</li>
    </ul>

    <h2 class="card-title card-title-prim light">Team Packs</h2>
    <cmp-pack-table [packs]='teamPacks' [comments]='teamComments'></cmp-pack-table>

    <h2 class="card-title card-title-prim light">Fun Packs</h2>
    <ul>
        <li>Fun Pack: A-Team - A-Team Adventure World and A-Team Master Build</li>
        <li>Fun Pack: Aquaman - Atlantis Pool Ability</li>
        <li>Fun Pack: Cragger - Chima Adventure World and Chi Ability</li>
        <li>Fun Pack: Cyberman - Dive + Hacking Ability</li>
        <li>Fun Pack: E.T. The Extra-Terrestrial - E.T. The Extra-Terrestrial Adventure World</li>
        <li>Fun Pack: Knight Rider - Knight Rider Adventure World</li>
        <li>Fun Pack: Raven - Magic Walls Ability</li>
        <li>Fun Pack: Sensei Wu - Ninjago Adventure World and Pole Vault</li>
        <li>Fun Pack: Slimer - Dive + Ghost Immunity Ability</li>
        <li>Fun Pack: Wicked Witch - Wizard of Oz Adventure World. If you do not care about 100% and the Adventure World, then the Harry Potter Team Pack is a better choice. Lord Voldemort has the same abilities and more as the Wicked Witch.</li>
    </ul>
</div>

<share-section></share-section>
<nav-section></nav-section>
<comment-section></comment-section>
