<div class="card">
    <div class="card-block">
        <h2 class="card-title text-xs-center">{{title}}</h2>
        <h3>More levels with newly introduced Story Packs</h3>
        <p>In Year 2 Lego Dimensions introduces Story Packs. Story Packs are something inbetween a Level Pack and a full-blown Lego videogame. 
            Each Story Pack is said to contain six levels of gameplay where you can replay some of the major plot scenes of the movie.</p>
        <h4>Ghostbusters (2016) – wave 6 (Sept 2016 Release)</h4>
        <ul>
            <li>Minifigure: Abby Yates – Unlocks all Ghostbusters as playable characters.</li>
            <li>Vehicle: Ecto 1</li>
        </ul>
        <h4>Fantastic Beasts And Where To Find Them – wave 7 (Nov 2016 Release)</h4>
        <ul>
            <li>Minifigure: Newt Scamander</li>
            <li>Vehicle: TBA</li>
        </ul>
        <h4>Lego Batman Movie – wave 8 (Jan 2017 Release)</h4>
        <ul>
            <li>Minifigure: Lego Movie Batman</li>
            <li>Vehicle: TBA</li>
        </ul>
    </div>
</div>
