body {
  background: #16203B;
  color: #BAC2D5;
}
.text-muted {
  color: #7F88A6;
}
.card {
  background: #324065;
}
.card.card-inverse {
  background: #16203B;
}
.card-title, h1, h2, h3, h4, h5 {
  /*color: #EDF2F6;*/
  color: #fff;
}
.card-title {
  font-size: 1.5rem;
}
.card-block {
  /*text-align: center;*/
}
.character-portrait {
  border: solid 6px #475072;
  border-radius: 112px;
  width: 224px;
  height: 224px;
  overflow: hidden;
  margin-bottom: 1rem;
}
.character-portrait img {
  margin-top: -6px;
}
a {
  color: #4baad9;
}
.btn-primary, .btn-primary:link, .btn-primary:visited {
  background: #e64c65;
  border-radius: 0;
  border: 1px solid #e64c65;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:checked {
  background: #cc324b !important;
  border: 1px solid #cc324b;
}
a, a:hover, a:active, a:focus {
  text-decoration: none !important;
}
.like-p {
  display: block;
  margin-bottom: 1rem;
}