body {
  background: #16203B;
  color: #BAC2D5;
  font-family: 'Arimo',Arial,sans-serif;
}
.text-muted {
  color: #7B83A2 !important;
}
.text-highlight {
  color: #CC324B;
}
.card {
  background: #324065;
  overflow: hidden;
  border: none;
}
.card.card-inverse {
  background: #16203B;
}
.card-title, h1, h2, h3 {
  font-family: 'Bebas Neue Bold',Arial,sans-serif;
  font-weight: 600;
  color: #fff;
}
h4, h5 {
  color: #fff;
}
h1.card-title {
  font-size: 2rem;
}
h2.card-title {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
  margin-bottom: 0rem;
}
.card-title-prim {
  background-color: #11A8AB;
  margin: -1rem -1.5rem 1rem -1.5rem;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  text-align: center; 
  line-height: 1.5rem;
}
.card-title-prim.year1 {
  background-color: #1A4E95;
}
.card-title-prim.year2 {
  background-color: #EDB742;
}
.card-title-prim.red {
  background-color: #1A4E95;/*#CC324B;*/
}
.card.red {
  background-color: #3468AF;/*#e64c65;*/
  color: #fff;
}
.card-block {
  padding: 1rem 1.5rem;
}
.character-portrait {
  border: solid 6px #475072;
  border-radius: 112px;
  width: 224px;
  height: 224px;
  overflow: hidden;
  margin-bottom: 1rem;
}
.character-portrait img {
  margin-top: -6px;
}
a {
  color: #4baad9;
}
.btn-primary, .btn-primary:link, .btn-primary:visited {
  background: #e64c65;
  border: none;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:checked {
  background: #CC324B !important;
  border: none;
}
a, a:hover, a:active, a:focus {
  text-decoration: none !important;
}
.like-p {
  display: block;
  margin-bottom: 1rem;
}
.btn-secondary, .btn-secondary:link, .btn-secondary:visited {
  background: #475072;
  color: #fff;
  border: none;
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:checked {
  background: #11A8AB !important;
  border: none;
}
.btn-info, .btn-info:link, .btn-info:visited {
  background: #4FC4F6;
  color: #fff;
  border: none;
}
.btn-info:hover, .btn-info:active, .btn-info:checked {
  background: #35A5D6 !important;
  border: none;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: text-bottom;
    background-color: #CC324B;
    border-radius: 10px;
}
.badge:empty {
  display: none;
}
.delimiter table {
    border-top: 1px solid #16203B;
}
.delimiter-b table {
    border-bottom: 1px solid #16203B;
}
.m-b-negative {
  margin-bottom: -1rem;
}
